---
title: Default title
description: Default description
bodyId:
bodyClassNames:
---

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <link ref="stylesheet" href="<%= "/css/global.css" || rev %>" />
</head>
<body id="<%= bodyId %>" class="the_layout <%= bodyClassNames %>">
  
  <main>
    <%= props.label %>
    <%- content %>
  </main>
  
  <script src="/js/script.js"></script>
</body>
</html>