<%# 初期値を設定// %>
<%
if(typeof props === 'undefined') {
  const props = {
    disabled: false, // boolean
    type: 'button', // submit | reset | button
    label: 'MyButton Label', // html | string
    modefireClass: '', // string
    jsClass: '', // string
  }
}
%>
<%# //初期値を設定 %>
<button class="my-button <%= props.modefireClass %> <%= props.jsClass %>" <%= props.disabled ? 'disabled' : '' %> type="<%= props.type %>" >
  <%= props.label %>
</button>
