<%# //初期値を設定%>
<% if (typeof disabled === 'undefined') { var disabled = false; } %>
<% if (typeof type === 'undefined') { var type = 'button'; } %>
<% if (typeof label === 'undefined') { var label = ''; } %>
<% if (typeof modefireClass === 'undefined') { var modefireClass = ''; } %>
<% if (typeof jsClass === 'undefined') { var jsClass = ''; } %>
<%# //初期値を設定%>

<button class="my-button <%= modefireClass %> <%= jsClass %>" <%= disabled ? 'disabled' : '' %> type=<%= type %> >
  <%= label %>
</button>
