<%
if(typeof props === 'undefined') {
  const props = {
    src: "path/to/imgFile",
    alt: "altText",
    width: 100, // no unit integer
    height: 100, // no unit integer
    loading: "eager | lazy",
    decoding: "sync | async | auto",
    srcset: "path/to/imgFile 100w, path/to/imgFile-200 200w", // 解像度に合わせた画像へのパスとそのときのレンダリングサイズを 整数 + w で記述
    sizes: "(max-width: 600px) 100px, 50vw", // 上記、srcset に対応したレンダリングサイズを指定
  }
}

const aspectRatio = `style="padding-top: calc(${props.height / props.width} * 100%);"`
-%>
<span class="c-image" <%- aspectRatio -%>>
  <img src="<%= props.src %>" alt="<%= props.alt %>" width="<%= props.width %>" height="<%= props.height %>" loading="<%= props.loading || "eager" %>" decoding="<%= props.decoding || "auto" %>">
</span>
